<a id="loggingout" href="/">Abmelden</a>

<h2>Willkomen {{ user.username}} bei HelloCook</h2>

{{!-- <h1>Flash messages</h1> --}}
{{#each messages}}
<p>{{this}}</p>
{{/each}}

{{#unless verifiedEmail}}
Bitte vergiss nicht, deine E-Mail Adresse zu verifizieren. Check auch deinen Spam-Ordner. Danke 💚
{{/unless}}


<div class="container"> 
<div class="row align-items-start">
    {{#each recipes}}
  <div class="col-4 recipe-card" id="filteredRecipes">
<img src="{{this.image}}" >  
  <a href='/rezepte/{{this.id}}'> {{this.title}}</a>

</div>  
  {{/each}}
</div>
</div>





{{!-- Nav-Bar with all recipes / favourites / add recipe  --}}
{{!-- Latest Recipes --}}