<div class='container'>

  <div class='recipe-details'>
    <h1>{{this.title}}</h1>

    {{#if this.author.username}}
      <p>erstellt von {{this.author.username}}</p>

    {{/if}}
    <div><img src='{{this.image}}' alt='recipe-image' /></div>

    <div class='recipe-meta'>
      {{#if this.level}}
        <span> {{this.level}}</span>
      {{/if}}

      {{#if this.duration}}
        <span>Zubereitungszeit: {{this.duration}}</span>
      {{/if}}

      <span>{{this.dishType}}</span>

      {{#if this.nutrition}}
        <span id='detail-nutrition'> {{this.nutrition}}</span>
      {{/if}}

    </div>

    {{#if this.portions}}

      <h2>Zutaten für {{this.portions}} Personen:</h2>
    {{else}}
      <h2>Zutaten: </h2>

    {{/if}}

    {{#each this.ingredients}}
      <li>
        {{this}}
      </li>
    {{/each}}
    <h2>Zubereitung:</h2>
    {{#each this.directions}}
      <p>
        {{this}}
      </p>
    {{/each}}

    {{#if this.author.username}}

      <a id='btn-rec-det' href='/rezepte/{{this.id}}/bearbeiten'>
        Bearbeite das Rezept</a>

      <form action='/rezepte/{{this.id}}/entfernen' method='post'><button
          id='btn-rec-det'
          type='submit'
        >Lösche das Rezept</button></form>
    {{/if}}

    <a href='/rezepte'> zurück zur Rezeptübersicht</a>

  </div>

</div>